@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic,cyrillic-ext,latin-ext);
body {
    background: rgb(247, 247, 247);
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
#app {
    max-width: 960px;
    margin: 0 auto;
}
.TasksArea {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.header-menu > ul > li {
    display: inline-block;
    width: 33.33333%;
}
.header-menu > ul > li > a {
    margin: 0 auto;
    width: 60%;
    display: block;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-menu > ul > li > a:hover {
    background: rgba(255,255,255,.5);
    border-radius: 26px;
}
.header-menu > ul > li > a {
    color: #4a4a4a;
    text-decoration: none;
}
.header-menu > ul { padding-left: 0; }
.header-menu { padding-top: 5px; }
.active { color: black; font-weight: 600; background: white; border-radius: 26px;
    pointer-events: none;
}
.tasksRequestChild {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255, .5);
    padding-bottom: 5px;
}
.taskCard-true {
    background-color: #F2FFF2;
}
.taskCard-false {
    background-color: #FFF2F2;
}
.decision {
    position: absolute;
    right: 0;
    top: 40px;
    display: block;
    border-radius: 4px 0 0 4px;
    background: rgba(0,0,0,.25);
    text-transform: uppercase;
    padding: 2.5px 15px 2.5px 15px;
    font-weight: 500;
    color: rgba(255,255,255,.75);
}
.verify {
    width: 185px;
}
.verify > p {
    padding: 0;
    margin: 0;
}
.taskCard {
    transition-duration: .5s;
}
.aboutImage {
    width: 100%;
}
.printPage {
    margin-left: 10px;
}
.timestamp {
    border-radius: 5px;
    background: rgba(0,0,0,.25);
    padding: 1px 3.5px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,.67);
    margin-right: 5px;
}
.copyright {
    border-top: 1px solid rgba(0,0,0,.175);
    padding-top: 10px;
    margin-top: 25px;
}
.emoji {
    margin-right: 10px;
}
a {
    color: #1590A0;
}
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    p a, p a:visited { color: #444 !important; text-decoration: underline; }
    p a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
    .hide-on-print { display: none !important; }
    .print-only { display: block !important; }
    .verify {
        display: none !important;
    }
    .printPage {
        display: none !important;
    }
    .taskCard {
        page-break-inside: avoid;
    }
    .header-menu {
        display: none;
    }
    .tasksRequest--donotprint {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .header-menu > ul > li {
        display: inline-block;
        width: 100%;
        border-radius: 5px;
    }
    .header-menu > ul > li > a {
        width: 90%;
    }
    .about_page, .stats_page {
        width: 90%;
        margin: 0 auto;
    }
}